#home{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
}

.post{
    border: 1px solid;
    max-width: 1000px;
    padding: 10px;
    margin-bottom: 15px;
}

    
.post p{
    line-height: 1.5;
}

.post img{
    width:100%;
    height: auto;
}

@media screen and (min-width:789px) {
    #home{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap:2%;
    }
    .post{
        max-width: 30%;
    }
}
